
.pol{
    margin-right: 55em;
    color:black;
    font-family:Light;
    
}

.draw{
    margin:2em;
}

.det {
    font-family: Light;
    margin-left:1.5em;
    text-decoration:none;
    color:black;
}
.back{
    margin-left:1em;
}


